@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Roboto:wght@300;400;700;900&display=swap');

*{
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

body{
    max-width: 100%;
    margin: auto;
    font-size: 1.375rem;
    background: #120614;
    color: #DCDCDC;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.skills-window{
    
}

.hidden{
    /* display: none; */
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'info image';
    height: 100vh;
}

#intro-part{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
}

.intro-part__title{
    font-family: 'Dancing Script', sans-serif;
    font-size: 6.5rem;
}

.intro-part__desc{
    margin-top: 6rem;
    line-height: 2.3rem;
}

.intro-part__extra-stuff{
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
}

.intro-part__btn{
    cursor: pointer;
    border: 1px solid #DCDCDC;
    border-radius: .3rem;
    padding: .5rem 2rem;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

.intro-part__btn a{
    font-style: normal;
}

.intro-part__btn:hover{
    background: #DCDCDC;
    color: black;
}

#picture-part{
    grid-area: image;
    overflow: hidden;
}

#picture-part img{
    max-width: 100%;
    height: auto;
}

main .example{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
}

.one .work__title{
    color: rgb(67, 170, 67);
}

.two .work__title{
    color: rgb(116, 180, 116);
}

.three .work__title{
    color: rgb(173, 173, 231);
}

.four .work__title{
    color: rgb(71, 71, 192);
}

.five .work__title{
    color: rgb(202, 73, 14);
}

.six .work__title{
    color: rgb(133, 50, 133);
}

.seven .work__title{
    color: rgb(180, 104, 180);
}

/* WORK EXAMPLES INFO */

.left-container{
    padding: 6rem 5rem 6rem 10rem;
}

.left-container .work__what-was-created{
    margin-top: .8rem;
}

.left-container .work__url{
    margin-top: 0.3rem;
}

.left-container .work__wow-factor{
    margin-top: 3.8rem;
    font-size: 2.5rem;
    font-weight: 400;
}

.left-container .work__description{
    margin-top: 3.8rem;
    line-height: 2.3rem;
}

/**********************/

/* WORK EXAMPLES IMAGE */

.right-container{
    padding-right: 10rem;
}

.right-container img{
    max-width: 100%;
    height: auto;
}

/**********************/

footer{
    text-align: center;
    padding: 3rem 0;
    font-size: 1rem;
}

@media screen and (max-width: 1140px){
    header{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'info'
        'image';
        height: auto;
    }

    #intro-part{
        margin: 5rem 0;
        padding: 2rem;
    }

    .intro-part__desc{
        margin-top: 3rem;
    }

    #picture-part img{
        width: 100%;
    }

    main .example{
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }

    .left-container{
        padding: 2rem;
    }

    .right-container{
        padding: 2rem;
        margin: auto;
    }
}