*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}

body{
    width: 100%;
    font-size: 16px;
}

header{
    width: 100%;
    background: black;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#intro-part{
    flex: 1;
    padding: 3rem 7rem;
}

#picture-part{
    flex: 1;
}