@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Roboto:wght@300;400;700;900&display=swap');

*{
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    font-style: italic;
}

body{
    max-width: 100%;
    margin: auto;
    font-size: 16px;
    background: #0B040D;
    color: #DCDCDC;
    font-family: 'Roboto', sans-serif;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'info image';
    height: 100vh;
}

#intro-part{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6rem;
}

.intro-part__title{
    font-family: 'Dancing Script', sans-serif;
    font-size: 5.6rem;
}

.intro-part__desc{
    font-weight: 300;
    line-height: 1.8rem;
    margin-top: 3.5rem;
}

#picture-part{
    grid-area: image;
    overflow: hidden;
}

#picture-part img{
    max-width: 100%;
    height: auto;
}

main{
    height: 40rem;
    display: grid;
    margin-top: 15rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'left right';
}

.left-container{
    grid-area: left;
    padding: 6rem;
}

.right-container{
    grid-area: right;
}

.right-container img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 576px){
    header{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'info'
        'image';
        height: auto;
    }

    #intro-part{
        margin: 5rem 0;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'left'
        'right';
    }

    .left-container{
        padding: 4rem;
    }
}